<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @favorite.user_id %></dd>

  <dt>Book</dt>
  <dd><%= @favorite.book_id %></dd>

</dl>
